<div>
    <div class="tab-pane fade show active">

        <div *ngIf="table6">
            <div style="padding-left: 1%;padding-right: 2%;">
                <div class="card">
                    <!-- <div class="container"> -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-counter success">
                                <i class="fa fa-users"></i>
                                <span class="count-numbers" *ngFor="let item of countUser">จำนวน
                                    {{item.countUser}}</span>
                                <span class="count-name">บุคลากร</span>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <form class="form-inline">
                                <input type="text" class="form-control" (keyup)="getsearch(Emp_ID.value)" #Emp_ID
                                    placeholder="ค้นหา" aria-label="ค้นหา" />
                                <button type="submit" class="btn btn-outline-primary" (click)="getsearch(Emp_ID.value)">
                                    <img src="assets\images\magnifying-glass.png" width="20" height="20px" id="icon"
                                        alt="User Icon" />
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <br>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <!-- <div class="card-body" *ngIf="table1"> -->
                    <div style="padding-left: 1%;padding-right: 2%;">



                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">บุคลากรในระบบ</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">รออนุญาตให้ใช้งาน</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">ลำดับ</th>
                                                    <!-- <th scope="col">รหัสบุคลากร</th> -->
                                                    <th scope="col">ชื่อบุคลากร</th>
                                                    <th scope="col">ตำแหน่ง/แผนก</th>
                                                    <th scope="col">สถานะ</th>
                                                    <th scope="col">ส่งการลางาน</th>
                                                    <th scope="col">จัดการ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of seach | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index">
                                                    <!-- <td></td> -->
                                                    <td class="text-center">
                                                        <p ng-repeat="i in range(1, 5)">
                                                            {{ i+1 }}
                                                        </p>
                                                    </td>
                                                    <td> {{item.EmpName}} {{item.EmpLastName}}
                                                        <p class="card-text">เพศ : {{item.Sex}} </p>
                                                        โทร : {{item.Tel}}
                                                    </td>
                                                    <td>
                                                        <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b>
                                                        {{item.PositionName}}
                                                        <p class="card-title">แผนก : {{item.DeptName}}</p>
                                                    </td>
                                                    <td class="text-center">{{item.EmpstatusName}}</td>
                                                    <td class="Role">{{item.Role}}</td>
                                                    <td class="text-center" *ngIf="item.status_data == 'Y'">
                                                        <button class="btn btn-secondary btn-circle btn-xl"
                                                            type="button" id="Leavelistadmin" title="ยื่นขอลา"
                                                            data-toggle="modal" data-target="#exampleModal1"
                                                            (click)="LeaveEmp(item.Emp_ID,item.EmpName,item.EmpLastName
                                                ,item.PositionName,item.DeptName,item.SectorName,item.Role,item.Empstatus_ID)">
                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center" style="color:rgb(178, 209, 0);"
                                                        *ngIf="item.status_data == 'W'">
                                                        <p>รออนุญาตให้ใช้งาน</p>
                                                    </td>
                                                    <td class="text-center " style="color:rgb(246, 91, 80);"
                                                        *ngIf="item.status_data == 'N'">
                                                        <p>ไม่อนุญาตให้ใช้งาน</p>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn btn-success btn-circle btn-xl"
                                                            data-toggle="modal" title="แก้ไข้ข้อมูล"
                                                            data-target="#exampleModal"
                                                            (click)="updateEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Sex,
                                            item.Birthday,item.ID_card,item.Age,item.Tel,item.Address,item.Work_day,item.Duration_work
                                            ,item.Empstatus_ID,item.Position_ID,item.Dept_ID,item.Sector_ID,item.status_data,item.privilege)"><i
                                                                class="fa fa-pencil-square-o"
                                                                aria-hidden="true"></i></button>
                                                        &nbsp;

                                                        <button title="ลบข้อมูล"
                                                            class="btn btn-danger btn-circle btn-xl"
                                                            (click)="deleteEmp(item.Emp_ID,item.EmpName)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">ลำดับ</th>
                                                    <!-- <th scope="col">รหัสบุคลากร</th> -->
                                                    <th scope="col">ชื่อบุคลากร</th>
                                                    <th scope="col">ตำแหน่ง/แผนก</th>
                                                    <th scope="col">สถานะ</th>
                                                    <th scope="col">ส่งการลางาน</th>
                                                    <th scope="col">จัดการ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of seach_waiting | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index">
                                                    <!-- <td></td> -->
                                                    <td class="text-center">
                                                        <p ng-repeat="i in range(1, 5)">
                                                            {{ i+1 }}
                                                        </p>
                                                    </td>
                                                    <td> {{item.EmpName}} {{item.EmpLastName}}
                                                        <p class="card-text">เพศ : {{item.Sex}} </p>
                                                        โทร : {{item.Tel}}
                                                    </td>
                                                    <td>
                                                        <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b>
                                                        {{item.PositionName}}
                                                        <p class="card-title">แผนก : {{item.DeptName}}</p>
                                                    </td>
                                                    <td class="text-center">{{item.EmpstatusName}}</td>
                                                    <td class="Role">{{item.Role}}</td>
                                                    <td class="text-center" *ngIf="item.status_data == 'Y'">
                                                        <button class="btn btn-secondary btn-circle btn-xl"
                                                            type="button" id="Leavelistadmin" title="ยื่นขอลา"
                                                            data-toggle="modal" data-target="#exampleModal1"
                                                            (click)="LeaveEmp(item.Emp_ID,item.EmpName,item.EmpLastName
                                                                            ,item.PositionName,item.DeptName,item.SectorName,item.Role,item.Empstatus_ID)">
                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center" style="color:rgb(178, 209, 0);"
                                                        *ngIf="item.status_data == 'W'">
                                                        <p>รออนุญาตให้ใช้งาน</p>
                                                    </td>
                                                    <td class="text-center " style="color:rgb(246, 91, 80);"
                                                        *ngIf="item.status_data == 'N'">
                                                        <p>ไม่อนุญาตให้ใช้งาน</p>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn btn-success btn-circle btn-xl"
                                                            data-toggle="modal" title="แก้ไข้ข้อมูล"
                                                            data-target="#exampleModal"
                                                            (click)="updateEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Sex,
                                                                        item.Birthday,item.ID_card,item.Age,item.Tel,item.Address,item.Work_day,item.Duration_work
                                                                        ,item.Empstatus_ID,item.Position_ID,item.Dept_ID,item.Sector_ID,item.status_data)"><i
                                                                class="fa fa-pencil-square-o"
                                                                aria-hidden="true"></i></button>
                                                        &nbsp;

                                                        <button title="ลบข้อมูล"
                                                            class="btn btn-danger btn-circle btn-xl"
                                                            (click)="deleteEmp(item.Emp_ID,item.EmpName)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

                                </div>
                            </div>
                        </div>




                    </div>
                    <br>
                </div>
            </div>
        </div>


        <!-- ของผอ -->
        <!-- <div class="card" *ngIf="table5">
            <div class="card-header">
                <div class="row-md-1">
                    <div class="col-md-4">
                        บุคลากร
                        &nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">รหัสบุคลากร</th>
                            <th scope="col">ชื่อบุคลากร</th>
                            <th scope="col">ตำแหน่ง/แผนก</th>
                            <th scope="col">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let item of Employee | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index">
                        <tr>
                            <td>{{item.Emp_ID}}</td>
                            <td>{{item.EmpName}} {{item.EmpLastName}}
                                <p class=" card-text">เพศ : {{item.Sex}} </p>
                            </td>
                            <td>
                                <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b> {{item.PositionName}}
                                <p class="card-title">แผนก : {{item.DeptName}}</p>
                            </td>
                            <td>{{item.EmpstatusName}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                <br>
            </div>
        </div> -->

        <!-- ของรองหัวหน้าหน่วยงาน -->
        <!-- <div class="card" *ngIf="table4">
            <div class="card-header">
                <div class="row-md-1">
                    <div class="col-md-4">
                        บุคลากร
                        &nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">รหัสบุคลากร</th>
                            <th scope="col">ชื่อบุคลากร</th>
                            <th scope="col">ตำแหน่ง/แผนก</th>
                            <th scope="col">สถานะ</th>

                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let item of Dept_to_head | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index">
                        <tr>
                            <td>{{item.Emp_ID}}</td>
                            <td>{{item.EmpName}} {{item.EmpLastName}}
                                <p class="card-text">เพศ : {{item.Sex}} </p>
                            </td>
                            <td>
                                <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b> {{item.PositionName}}

                                <p class="card-title">แผนก : {{item.DeptName}}</p>
                            </td>
                            <td>{{item.EmpstatusName}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                <br>
            </div>
        </div> -->
    </div>

    <!-- *************** -->
    <!-- ของหัวหน้า -->
    <!-- <div class="card" *ngIf="table3">
        <div class="card-header">
            <div class="row-md-1">
                <div class="col-md-4">
                    บุคลากร
                    &nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">รหัสบุคลากร</th>
                        <th scope="col">ชื่อบุคลากร</th>
                        <th scope="col">ตำแหน่ง/แผนก</th>
                        <th scope="col">สถานะ</th>

                    </tr>
                </thead>
                <tbody *ngFor="let item of Dept_to_head | paginate: { itemsPerPage: 10, currentPage: pageActual};">
                    <tr>
                        <td>{{item.Emp_ID}}</td>
                        <td>{{item.EmpName}} {{item.EmpLastName}}
                            <p class="card-text">เพศ : {{item.Sex}} </p>
                        </td>
                        <td>
                            <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b> {{item.PositionName}}
                            <p class="card-title">แผนก : {{item.DeptName}}</p>
                        </td>
                        <td>{{item.EmpstatusName}}</td>

                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

            <br>
        </div>
    </div> -->

    <!-- *************** -->
    <!-- ของหัวหน้าแผนก -->
    <!-- <div style="padding: 1%;">
        <div class="card" *ngIf="table2">

            <div class="card-header">
                <div class="row-md-1">
                    <div class="col-md-4">
                        บุคลากร
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">รหัสบุคลากร</th>
                            <th scope="col">ชื่อบุคลากร</th>
                            <th scope="col">ตำแหน่ง/แผนก</th>
                            <th scope="col">สถานะ</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let item of Dept_to_head; let i = index">
                        <tr>
                            <td>{{item.Emp_ID}}</td>
                            <td>{{item.EmpName}} {{item.EmpLastName}}
                                <p class="card-text">เพศ : {{item.Sex}} </p>
                            </td>
                            <td>
                                <b style="color:rgb(0, 183, 255);">ตำแหน่ง : </b> {{item.PositionName}}
                                <p class="card-title">แผนก : {{item.DeptName}}</p>
                            </td>
                            <td>{{item.EmpstatusName}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> -->
    <br>
    <br>
    <br>

    <!-- Modal แก้ไข-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">แก้ไข</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>รหัสบุคลากร</label>
                                <!-- <input type="text" class="btn-primary disabled" [formControl]="Emp_ID" id="validationDefault01"
                                    style="background-color: rgb(226, 223, 223);"> -->

                                <input type="text" [formControl]="Emp_ID" readonly>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label>ชื่อ(ภาษาไทย)</label>
                                <input type="text" id="validationDefault02" [formControl]="EmpName">
                                <!-- <input type="text" class="form-control" [formControl]="EmpName"
                                    id="validationDefault02"> -->
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>นามสกุล(ภาษาไทย)</label>
                                <input type="text" id="validationDefault02" [formControl]="EmpLastName">
                                <!-- <input type="text" class="form-control" [formControl]="EmpLastName"
                                    id="validationDefaultUsername"> -->
                            </div>
                            <br>
                            <div class="col-md-3 mb-3">
                                <label>เพศ</label>
                                <select class="form-control" [formControl]="Sex" id="exampleFormControlSelect1">
                                    <option value="ชาย">ชาย</option>
                                    <option value="หญิง">หญิง</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-3 mb-3">
                                <label>วันเกิด(ปี/เดือน/วัน)</label>
                                <input type="date" class="form-control" [formControl]="Birthday"
                                    id="validationDefault05">
                            </div> -->
                            <div class="col-md-3 mb-3">
                                <label>อายุ</label>
                                <input type="text" id="validationDefault02" [formControl]="Age">
                                <!-- <input type="text" class="form-control" [formControl]="Age" id="validationDefault06"> -->
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>เบอร์โทร</label>
                                <input type="text" id="validationDefault02" [formControl]="Tel">
                                <!-- <input type="text" class="form-control" [formControl]="Tel" id="validationDefault07"> -->
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>บัตรประชาชน</label>
                                <input type="text" id="validationDefault02" [formControl]="ID_card">
                                <!-- <input type="text" class="form-control" [formControl]="ID_card"
                                    id="validationDefault23"> -->
                            </div>
                            <div class="col-md-8 mb-3">
                                <label>ที่อยู่</label>

                                <input type="text" class="form-control" [formControl]="Address"
                                    id="exampleFormControlTextarea1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label>วันเริ่มทำงาน</label>
                                <input type="date" class="form-control" [formControl]="Work_day"
                                    id="validationDefault08">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>อายุงาน</label>
                                <input type="text" class="form-control" [formControl]="Duration_work"
                                    id="validationDefault09">
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col"><label>สถานะบุคลากร</label>
                                        <select class="form-control form-control-lg" [formControl]="Empstatus_ID"
                                            id="exampleFormControlSelect4">

                                            <option *ngFor="let item of status; let i = index"
                                                value="{{item.Empstatus_ID}}">
                                                {{item.EmpstatusName}}</option>
                                        </select>
                                    </div>
                                    <div class="col"><label>ตำแหน่ง</label>
                                        <select class="form-control form-control-lg" [formControl]="Position_ID"
                                            id="exampleFormControlSelect2">
                                            <option *ngFor="let item of positionEmp; let i = index"
                                                value="{{item.Position_ID}}">
                                                {{item.PositionName}}</option>

                                        </select>
                                    </div>
                                    <div class="col"><label>ฝ่ายงาน</label>
                                        <select class="form-control form-control-lg" [formControl]="Sector_ID"
                                            id="exampleFormControlSelect2">
                                            <option *ngFor="let item of sector; let i = index"
                                                value="{{item.Sector_ID}}">
                                                {{item.SectorName}}</option>

                                        </select>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col"><label> แผนก</label>
                                        <select class="form-control form-control-lg" [formControl]="Dept_ID"
                                            id="exampleFormControlSelect3">

                                            <option *ngFor="let item of dep; let i = index" value="{{item.Dept_ID}}">
                                                {{item.DeptName}}</option>

                                        </select>
                                    </div>
                                    <div class="col">
                                        <label> คำขอใช้งานระบบ</label>
                                        <select class="form-control form-control-lg" [formControl]="status_data">
                                            <option value="Y">อนุญาตให้ใช้งาน</option>
                                            <option value="N">ไม่อนุญาตให้ใช้งาน</option>
                                            <option value="W">รออนุญาตให้ใช้งาน</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1">
                                    <label class="form-check-label" for="inlineRadio1">ผู้ดูแลระบบ</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2">
                                    <label class="form-check-label" for="inlineRadio2">ผู้ใช้งานทั่วไป</label>
                                </div>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="updateEmployee()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>


    <!-- การลางาน -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active">

                        <div class="card">
                            <div class="card-body">
                                <form>

                                    <div class="card-header text-left">
                                        <b style="color: mediumblue;"> ยื่นการลา</b>
                                    </div>
                                    <br>

                                    <div class="col-sm">
                                        <label>ประเภทการลา</label>
                                        <select [formControl]="LType_ID" (ngModelChange)="dataChanged($event)"
                                            name="data" id="type_leave" class="custom-select  {{invalid_type}}">
                                            <option *ngFor="let currentData of leavetypeUser" [ngValue]="currentData">
                                                {{currentData.LTypeName}}
                                            </option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="form-row">
                                            <p>เรื่อง</p>
                                            <input type="text" class="form-control  {{invalid_type}}" id="nameleave"
                                                value="{{LTypeName_check}}" #Name_Leave readonly>
                                            <p>เรียน</p>
                                            <input type="text" id="toheader"
                                                value="ผู้อำนวยการสำนักวิทยบริการและเทคโนโลยีสารสนเทศ" #To_Person
                                                class="form-control" readonly>

                                        </div>
                                    </div>
                                    &nbsp;&nbsp;

                                    <div class="none">
                                        <div class="card-header text-left">
                                            <b style="color: mediumblue;">ข้อมุลบุคลากร</b>
                                        </div>
                                        &nbsp;
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <h6>รหัส </h6>
                                                    <input type="text" class="form-control" [formControl]="Emp_ID"
                                                        readonly>
                                                </div>
                                                <div class="col-sm">
                                                    <h6> ชื่อ </h6>
                                                    <input type="text" class="form-control" [formControl]="EmpName"
                                                        readonly>
                                                </div>
                                                <div class="col-sm">
                                                    <h6> นามสกุล </h6>
                                                    <input type="text" class="form-control" id="validationDefault02"
                                                        [formControl]="EmpLastName" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <h6>ตำแหน่ง </h6>
                                                    <input type="text" class="form-control" [formControl]="PositionName"
                                                        readonly>
                                                </div>
                                                <div class="col-sm">
                                                    <h6>แผนก </h6>
                                                    <input type="text" class="form-control" [formControl]="DeptName"
                                                        readonly>
                                                </div>
                                                <div class="col-sm">
                                                    <h6> ฝ่าย </h6>
                                                    <input type="text" class="form-control" [formControl]="SectorName"
                                                        readonly>
                                                    <input type="text" class="form-control role" #Role_chack
                                                        id="Role_value" [formControl]="Role" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-header text-left">
                                        <b style="color: mediumblue;"> ข้อมูลการลา</b>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label> วันลาคงเหลือ</label><br>
                                                <input type="text" id="check_Remain" value="{{check_Remain}}"
                                                    #check_number style="width: 50%;" readonly>
                                            </div>
                                            <div class="col-sm">
                                                <label> วันลาเกิน</label><br>
                                                <input type="text" id="LType_limit_check" value="{{LType_limit_check}}"
                                                    #limit_type style="width: 50%;" readonly>
                                            </div>
                                            <div class="col-sm">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox"
                                                        id="inlineCheckbox1" (change)="toggleVisibility($event)">
                                                    <label class="custom-control-label"
                                                        for="inlineCheckbox1">มีผู้รับผิดชอบงานแทน</label>
                                                    <span *ngIf="marked"><input type="text" id="employee_work"
                                                            [formControl]="employee"></span>

                                                </div>
                                                <!-- <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck1"
                                                                                (change)="toggleVisibility($event)">
                                                                            <label class="custom-control-label"
                                                                                for="customCheck1">มีผู้รับผิดชอบงานแทน</label>
                                                                            <span *ngIf="marked"><input type="text" id="employee_work"
                                                                                    [formControl]="employee"></span>
                                                                        </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <label for="exampleFormControlTextarea1">ขอลาเนื่องจาก</label>
                                                    <textarea class="form-control" id="dataleave" rows="3"
                                                        [formControl]="LeaveData"></textarea>
                                                </div>
                                                <div class="col-sm">
                                                    <label for="exampleFormControlTextarea1">ข้อมูลการติดต่อ</label>
                                                    <textarea class="form-control" id="datacontact" rows="3"
                                                        [formControl]="ContactInformation"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <br>


                                    </div>
                                    <!-- <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="dateCheck1"
                                                                    (change)="toggleVisibility_date($date)">
                                                                <label class="custom-control-label" for="customCheck1">ลามากกว่า 1 วัน</label>
                            
                                                            </div> -->



                                    <!-- <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox" id="inlineCheckbox2"
                                                                    (change)="toggleVisibility_date($event)">
                                                                <label class="custom-control-label" for="inlineCheckbox2">ลามากกว่า 1 วัน</label>
                                                            </div> -->


                                    <div class="form-row">
                                        <div class="col-sm">
                                            <div class="card text-white  mb-3" style="max-width: 18rem;">
                                                <div class="card-header bg-primary">วันที่ลา</div>
                                                <div class="card-body text-primary">
                                                    <input type="date" class="form-control" id="LeaveDateStart"
                                                        [formControl]="LeaveDateStart" [max]="maxDate" data-date=""
                                                        (change)="onseletday(LeaveDateStart.value,LeaveDateLast.value,Leave_characteristics_dateStart.value,Leave_characteristics_dateLast.value)"
                                                        required>
                                                    <h6>ประเภทวันลา</h6>

                                                    <select class="custom-select" id="Leave_characteristics_dateStart"
                                                        [disabled]="btnDisable_start" #Leave_characteristics_dateStart
                                                        (change)="onseletday(LeaveDateStart.value,LeaveDateLast.value,Leave_characteristics_dateStart.value,Leave_characteristics_dateLast.value)">
                                                        <option value="เต็มวัน">เต็มวัน</option>
                                                        <option value="ครึ่งวันเช้า">ครึ่งวันเช้า</option>
                                                        <option value="ครึ่งวันบ่าย">ครึ่งวันบ่าย</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- <label for="validationDefault04">วันที่ลา</label>
                                                                    <input type="date" class="form-control" id="LeaveDateStart"
                                                                        [formControl]="LeaveDateStart" [max]="maxDate" data-date=""
                                                                        data-date-format="DD MMMM YYYY" required>
                                                                    <select class="form-control">
                                                                        <option>Default select</option>
                                                                    </select> -->
                                        </div>

                                        <div class="col-sm">
                                            <div class="card text-white  mb-3" style="max-width: 18rem;">
                                                <div class="card-header bg-danger ">ถึงวันที่</div>
                                                <div class="card-body text-primary">
                                                    <input type="date" class="form-control" id="LeaveDateLast"
                                                        (change)="onseletday(LeaveDateStart.value,LeaveDateLast.value,Leave_characteristics_dateStart.value,Leave_characteristics_dateLast.value)"
                                                        [formControl]="LeaveDateLast" [max]="maxDate"
                                                        data-date-format="DD MMMM YYYY" required>
                                                    <h6>ประเภทวันลา</h6>
                                                    <select class="custom-select" id="Leave_characteristics_dateLast"
                                                        [disabled]="btnDisable_last" #Leave_characteristics_dateLast
                                                        (change)="onseletday(LeaveDateStart.value,LeaveDateLast.value,Leave_characteristics_dateStart.value,Leave_characteristics_dateLast.value)">
                                                        <option value="เต็มวัน">เต็มวัน</option>
                                                        <option value="ครึ่งวันเช้า">ครึ่งวันเช้า</option>
                                                        <option value="ครึ่งวันบ่าย">ครึ่งวันบ่าย</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- <label>ถึงวันที่</label> -->
                                            <!-- <input type="date" class="form-control" id="LeaveDateLast"
                                                                        (change)="test_date(LeaveDateStart.value,LeaveDateLast.value)"
                                                                        [formControl]="LeaveDateLast" [max]="maxDate" data-date=""
                                                                        data-date-format="DD MMMM YYYY" required>
                                                                    <select class="form-control">
                                                                        <option>Default select</option>
                                                                    </select> -->
                                        </div>

                                        <div class="col-md-2 mb-2">
                                            <label>จำนวนวันลา</label>
                                            <input type="text" class="form-control" id="LeaveTotal"
                                                value="{{numberleave}}" #LeaveTotal readonly>


                                            <label>สถานะการส่งใบลาฉบับจริง</label>
                                            <select class="custom-select {{invalid_doc}}" (change)="change_doc($event)"
                                                [formControl]="LeaveStatus_Document">

                                                <option value="ส่งใบลาฉบับจริงแล้ว">ส่งใบลาฉบับจริงแล้ว</option>
                                                <option value="ยังไม่ส่งใบลาฉบับจริง">ยังไม่ส่งใบลาฉบับจริง</option>
                                            </select>
                                            <label>เลือกรอบการประเมิน</label>
                                            <select class="custom-select {{invalid_limit}}" [formControl]="limit_ID"
                                                (change)="change_limit($event)">
                                                <option *ngFor="let item of showleave_limit " value="{{item.limit_ID}}">
                                                    {{item.Name_limit}}</option>
                                            </select>
                                        </div>

                                        <form>
                                            <br>
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1">แนปไฟล์</label>
                                                <br>
                                                <input type="file" #fileInput (change)="onFileChanged($event)">
                                                <button type="button" (click)="file_remove(fileInput)"
                                                    class="btn btn-danger btn-circle "><i class="fa fa-trash"
                                                        aria-hidden="true"></i></button>
                                                <br>
                                                <br>
                                                <!-- <div class="progress" *ngIf="progress">

                                                    <div class="progress-bar" [style.width]="progress + '%'">
                                                        {{progress}}%
                                                    </div>
                                                </div> -->
                                            </div>
                                            <br>


                                        </form>
                                        <div class="form-row">
                                            <!-- <label>สถานะการส่งใบลาฉบับจริง</label>
                                                                    <select class="custom-select" [formControl]="LeaveStatus_Document">
                                                                        <option selected>--เลือกสถานะ--</option>
                                                                        <option value="ส่งใบลาฉบับจริงแล้ว">ส่งใบลาฉบับจริงแล้ว</option>
                                                                        <option value="ยังไม่ส่งใบลาฉบับจริง">ยังไม่ส่งใบลาฉบับจริง</option>
                                                                    </select> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="AddLeave()">save</button> -->

                    <button type="button" class="btn btn-primary" data-dismiss=`${modal_dismiss}`
                        (click)="AddLeave(LeaveTotal.value,check_number.value,limit_type.value,Name_Leave.value,To_Person.value,Role_chack.value,Leave_characteristics_dateStart.value,Leave_characteristics_dateLast.value)">ยืนยัน</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("typeleave").value = "",
            document.getElementById("dataleave").value = "",
            document.getElementById("LeaveDateStart").value = "",
            document.getElementById("LeaveDateLast").value = "",
            document.getElementById("LeaveTotal").value = ""
    }
</script>