// .navbar-expand-lg {
//     background-color:#76EE00;
// }

 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 80%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar-expand-lg {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
















///////////////////////////////////////////////
.dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav >.active>a,
.navbar-default .navbar-header>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
    color:#2C3E50;
	transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s
}
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav >.active>a,
.navbar-default .navbar-header>a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover
{
	color:#FFFFFF;
	background:#2C3E50
}
a
{
    cursor:pointer;
}
a:hover .fa
{
    -webkit-animation:fa-spin 1s;animation:fa-spin 1s
}
.hl-left
{
    border:1px dotted #5C4383;
    border-left:5px solid #5C4383;
    padding:30px;
    border-radius:10px;
    margin-bottom:60px;
    background-color:#FBFBFB;
}
.progress-devider
{
    width: 11.11111111111111%;
}










