<!-- ผู้ดูแลระบบ -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="show">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class='fa fa-cogs'></i> จัดการข้อมูล
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" [routerLink]="['/employeeshow']">บุคลากร</a>
          <a class="dropdown-item" [routerLink]="['/department']">แผนก</a>
          <a class="dropdown-item" [routerLink]="['/sector']">ฝ่ายงาน</a>

          <a class="dropdown-item" [routerLink]="['/position']">ตำแหน่ง</a>
          <a class="dropdown-item" [routerLink]="['/employeestatus']">สถานะบุคลากร</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavetype']">
          <i class='fa fa-book'></i>
          ประเภทการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavelist']"><i class="fa fa-envelope"></i>
          รายการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class='fa fa-address-book'></i>
          จัดการวันมาทำงาน
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" [routerLink]="['/checkdaywork']">บันทึกวันมาทำงาน</a>
          <a class="dropdown-item" [routerLink]="['/editdaywork']">ตรวจสอบวันมาทำงาน</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/checkdaywork']">
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/sumleave']">
          <i class='fa fa-copy'></i>
          สรุปการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fa fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- บุคลากร -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="emp1">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavelist']">
          <i class='fa fa-book'></i> รายการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/checkleave']">
          <i class="fa fa-check-square" aria-hidden="true"></i> ตรวจสอบจำนวนวันลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item">สถานะบุคลากร : {{EmpstatusName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fas fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- หัวหน้าแผนก -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="emp2">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavelist']">
          <i class='fa fa-book'></i> รายการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/checkleave']">
          <i class="fa fa-check-square" aria-hidden="true"></i> ตรวจสอบจำนวนวันลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-id-card"></i> บุลคากร/การลา
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="nav-link toggle" [routerLink]="['/employeeshow']">
            บุลคากร
          </a>
          <a class="nav-link toggle" [routerLink]="['/checkleaveinfo']">
            การลางานของบุคลกร
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">

        <a class="nav-link toggle" [routerLink]="['/leavetowaiting']">
          <i class="fa fa-hourglass"></i> การลาที่รอรับรอง
        </a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item">สถานะบุคลากร :{{EmpstatusName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fas fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- หัวหน้างาน -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="emp3">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavelist']">
          <i class='fa fa-book'></i> รายการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/checkleave']">
          <i class="fa fa-check-square" aria-hidden="true"></i> ตรวจสอบจำนวนวันลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-id-card"></i> บุลคากร/การลา
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="nav-link toggle" [routerLink]="['/employeeshow']">
            บุลคากร
          </a>
          <a class="nav-link toggle" [routerLink]="['/checkleaveinfo']">
            การลางานของบุคลกร
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavetowaiting']">
          การลาที่รอรับรอง
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item">สถานะบุคลากร : {{EmpstatusName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fas fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- รองหัวหน้าหน่วยงาน -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="emp4">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavelist']">
          <i class='fa fa-book'></i> รายการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/checkleave']">
          <i class="fa fa-check-square" aria-hidden="true"></i> ตรวจสอบจำนวนวันลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-id-card"></i> บุลคากร/การลา
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="nav-link toggle" [routerLink]="['/employeeshow']">
            บุลคากร
          </a>
          <a class="nav-link toggle" [routerLink]="['/checkleaveinfo']">
            การลางานของบุคลกร
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavetowaiting']">
          การลาที่รอรับรอง
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item">สถานะบุคลากร : {{EmpstatusName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fas fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- หัวหน้าหน่วยงาน -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan" *ngIf="emp5">
  <a href="/home" class="navbar-brand faa-pulse faa-slow animated">
    <i class="fa fa-lg">ระ</i>
    <i class="fa fa-lg">บบ</i>
    <i class="fa fa-lg">จัด</i>
    <i class="fa fa-lg">การ</i>
    <i class="fa fa-lg">บริ</i>
    <i class="fa fa-lg">หาร</i>
    <i class="fa fa-lg">บุ</i>
    <i class="fa fa-lg">คลา</i>
    <i class="fa fa-lg">กร</i>&nbsp;
    <i class="fa fa-lg">สวส</i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/leavetowaiting']">
          <i class="fa fa-address-book"></i> รายการลาที่รออนุญาต
        </a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-id-card"></i> บุลคากร/การลา
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="nav-link toggle" [routerLink]="['/employeeshow']">
            บุลคากร
          </a>
          <a class="nav-link toggle" [routerLink]="['/checkleaveinfo']">
            การลางานของบุคลกร
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link toggle" [routerLink]="['/sumleave']">
          <i class="fa fa-line-chart"></i> สรุปการลา
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-user"></i> {{EmpName}} {{EmpLastName}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item">ตำแหน่ง : {{PositionName}}</a>
          <a class="dropdown-item">สถานะบุคลากร : {{EmpstatusName}}</a>
          <a class="dropdown-item" (click)="clearUser()"><i class='fas fa-sign-out-alt'></i>&nbsp;Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>