<div class="table-responsive-xl" style="padding: 1%;">
  <div style="padding-left: 15%;padding-right: 2%;">
    <div class="card w-75">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p style="font-size: 15px;"> เดือน วัน ปี </p>
            <input type="date" class="form-control" [max]="maxDate" [formControl]="date_BusinessDay" value="{{date}}"
              #Day_Work (change)='onOptionsSelected(Day_Work.value)'>

          </div>

          <div class="col-sm">
            <br>
            <br>

            <i class="fa fa-check fa-2x" style="color:rgba(35, 231, 17, 0.863);" *ngIf="chack_day_save">
              <b>บันทึกแล้ว</b>
            </i>
            <i class="fa fa-times fa-2x" style="color:rgba(231, 49, 17, 0.863);" *ngIf="chack_day_nosave">
              <b>ยังไม่บันทึก</b>
            </i>
          </div>
          <div class="col-sm">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
  <table class="table">
    <thead class="text-primary">
      <th>
        <b>ลำดับ</b>
      </th>

      <th>
        <b>ชื่อ-นามสกุล</b>
      </th>
      <th>
        <b>สถานะ (
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="allcomin" name="all" (click)="checkall()" class="custom-control-input">
            <label class="custom-control-label" for="allcomin">&nbsp; มาทำงานทั้งหมด</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="notallcomin" name="all" (click)="checknotall()" class="custom-control-input">
            <label class="custom-control-label" for="notallcomin">&nbsp; ไม่มาทำงานทั้งหมด )</label>
          </div>
        </b>

      </th>
      <th>
        <b>สาเหตุ</b>
      </th>

      <th>
        <!-- <b > จัดการ</b>  -->
        <button type="button" class="btn btn-primary" (click)="add(Day_Work.value)">บันทึก</button>

      </th>

    </thead>
    <tbody *ngFor="let item of Employee; let i = index">
      <td>
        <p ng-repeat="i in range(1, 5)">
          {{ i+1 }}
        </p>
      </td>
      <input type="hidden" id="{{'Emp_ID' + i}}" class="custom-control-input" value="{{item.Emp_ID}}">
      <input type="hidden" id="{{'Status_Work' + i}}" class="custom-control-input" value="{{item.Status_Work}}">
      <!-- <input type="hidden" id="{{'Day_Work' + i}}"   class="custom-control-input" value="{{item.Day_Work}}"> -->

      <td>{{item.EmpName}} {{item.EmpLastName}}</td>
      <td>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="{{'comin' + i}}" name="{{'radio' + i}}" #radio
            *ngIf="item.off_Status_Work ==='มาทำงาน'" [checked]="true" class="custom-control-input" value="มาทำงาน">
          <input type="radio" id="{{'comin' + i}}" name="{{'radio' + i}}" #radio
            *ngIf="item.off_Status_Work !='มาทำงาน'" [checked]="false" class="custom-control-input" value="มาทำงาน">
          <input type="radio" id="{{'comin' + i}}" name="{{'radio' + i}}" #radio *ngIf="item.off_Status_Work ==''"
            [checked]="true" class="custom-control-input" value="มาทำงาน">
          <label class="custom-control-label" for="{{'comin' + i}}">&nbsp; มาทำงาน</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="{{'notcomin' + i}}" name="{{'radio' + i}}"
            *ngIf="item.off_Status_Work ==='ไม่มาทำงาน' " [checked]="true" #radio1 class="custom-control-input"
            value="ไม่มาทำงาน">
          <input type="radio" id="{{'notcomin' + i}}" name="{{'radio' + i}}" *ngIf="item.LTypeName !=''"
            [checked]="true" #radio1 class="custom-control-input" value="ไม่มาทำงาน">
          <input type="radio" id="{{'notcomin' + i}}" name="{{'radio' + i}}" *ngIf="item.LTypeName ==''"
            [checked]="false" #radio1 class="custom-control-input" value="ไม่มาทำงาน">
          <label class="custom-control-label" for="{{'notcomin' + i}}">&nbsp; ไม่มาทำงาน</label>
        </div>


      </td>
      <!-- <td>{{item.Status_Work}}</td> -->

      <td>
        <input type="text" id="{{'textdata' + i}}" value="{{item.LTypeName}}" class="form-control" #textdata>

      </td>
      <td>

      </td>

    </tbody>
  </table>

</div>