<br>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Flowz</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">Instances</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Data</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Users</span>
      </div>
    </div>
  </div>
</div>
<div style="padding: 5%;">
  
  <div class="line"></div>
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <th class="text-center">ชื่อพนักงาน</th>
            <th class="text-center">ประเภท</th>
            <th class="text-center">วันที่ลา</th>
            <th class="text-center">จำนวน</th>
            <th class="text-center">ไฟล์แนบ</th>
            <th class="text-center">สถานะ</th>
            <th class="text-center">ปริ้นใบลา</th>
            <th class="text-center">จัดการ</th>
            <tbody
                *ngFor="let item of table_leaveto_waiting | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index">
                <td> {{item.EmpName}} {{item.EmpLastName}}
                    <p> {{item.DeptName}}</p>
                </td>

                <td class="text-center">{{item.LTypeName}}</td>
                <td class="text-center"> {{item.LeaveDateStart}}  {{item.LeaveDateLast}}</td>
                <td class="text-center"> {{item.LeaveTotal}} </td>
                <td></td>
                <td class="text-center"> {{item.LeaveStatus_Name}} </td>
                <td class="text-center">

                    <!-- <button type="button" class="btn btn-success" (click)="nextpage(item)"></button>
                    <a routerLink="/FilelaeveprintComponent">ปริ้น</a> -->

                </td>
                <td class="text-center">
                    &nbsp;
                    <button type="button" class="btn btn-info" (click)="allow(item.Leave_ID)">อนุญาต</button>
                </td>
            </tbody>
        </table>

    </div>
</div>
