
<div style="padding: 1%;">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-sm">
         เลือกวันที่
         <div class="container">
          <div class="row">
            <div class="col-sm">
              <input type="date" class="form-control" placeholder="Search" #Day_Work>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-success" (click)="getsearchDay_Work(Day_Work.value)">ค้นหา</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">ลำดับ</th>
        <th scope="col">ชื่อ-นามสกุล</th>
        <th scope="col">สถานะ</th>
        <th scope="col">สาเหตุ</th>
        <th scope="col">จัดการ</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of searchdaywork; let i = index">
      <tr>
        <td>
          <p ng-repeat="i in range(1, 5)">
            {{ i+1 }}
          </p>
        </td>

        <td> {{item.EmpName}} {{item.EmpLastName}} </td>
        <td> {{item.Status_Work}} </td>
        <td> {{item.Data}} </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="Updateworktime(item.Day_ID,item.EmpName,item.EmpLastName,
           item.Status_Work,item.Data)">
            Warning
          </button>
        </td>
      </tr>

    </tbody>
  </table>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <span class="d-inline-block" data-toggle="popover" data-content="ไม่สามารถแก้ไขได้">
                <label for="formGroupExampleInput">ชื่อ</label>
                <input type="text" class="form-control" id="formGroupExampleInput" [formControl]="EmpName" readonly>
              </span>
            </div>
            <div class="form-group col-md-6">
              <span class="d-inline-block" data-toggle="popover" data-content="ไม่สามารถแก้ไขได้">
                <label for="formGroupExampleInput">นามสกุล</label>
                <input type="text" class="form-control" id="formGroupExampleInput" [formControl]="EmpLastName" readonly>
              </span>
            </div>
          </div>
          <div class="form-group ">
            <label for="inputState">สถานะ</label>
            <select id="inputState" class="form-control" [formControl]="Status_Work">
              <option value="มาทำงาน">มาทำงาน</option>
              <option value="ไม่มาทำงาน">ไม่มาทำงาน</option>
            </select>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">สาเหตุ</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" [formControl]="Data" rows="3"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateworktime()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>