<div class="tab-pane fade show active">
    &nbsp;&nbsp;&nbsp;
    <div style="padding-left: 15%;padding-right: 2%;">
        <div class="card w-75 text-white bg-success">
            <div class="card-body">
                <h2 class="card-title">ตรวจสอบวันลา</h2>
            </div>
        </div>
    </div>

    <br>
    <div style="padding-left: 1%;padding-right: 2%;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6>ชื่อ-นามสกุล : {{Employee.Prefix}} {{Employee.EmpName}} {{Employee.EmpLastName}} </h6>
                        <h6>ตำแหน่ง : {{Employee.PositionName}}</h6>
                        <h6>แผนก : {{Employee.DeptName}}</h6>
                    </div>
                    <div class="col">
                        <h6>ฝ่ายงาน : {{Employee.SectorName}} </h6>
                        <h6>สถานะบุคลากร : {{Employee.EmpstatusName}} </h6>
                        <h6>อายุงาน : {{Employee.Duration_work}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <label for="" style="font-size: 16px;">เลือกรอบการประเมิน</label>
                            <select class="form-control" #Name_limit>
                                <option>เลือกรอบการประเมิน</option>
                                <option *ngFor="let item of showleave_limit; let i = index" value="{{item.Name_limit}}">
                                    {{item.Name_limit}}</option>
                            </select>
                         
                        </div>
                        <div class="col-sm">
                            <label style="font-size: 16px;">ประเภทการลา</label>
                            <select #LType_ID (ngModelChange)="dataChanged($event)" name="data" id="type_leave"
                                class="form-control">
                                <option *ngFor="let currentData of leavetypeUser" [ngValue]="currentData">
                                    {{currentData.LTypeName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <br>
                            <button type="button" class="btn btn-primary"
                                (click)="serch(Name_limit.value,LType_ID.value)">ค้นหา</button>
                        </div>
                    </div>
                </div> -->
                <label for="" style="font-size: 16px;">เลือกรอบการประเมิน</label>
                <select class="form-control" (change)="getlleave_user($event.target.value)">
                    <option>เลือกรอบการประเมิน</option>
                    <option *ngFor="let item of showleave_limit; let i = index" value="{{item.limit_ID}}">
                        {{item.Name_limit}}</option>
                </select>

                <div class="table-responsive-xl">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ชื่อประเภท</th>
                                <th scope="col">เกณฑ์วันลา</th>
                                <th scope="col">ลามาแล้ว</th>

                                <th scope="col">คงเหลือ</th>
                                <th scope="col">ลาเกิน</th>
                                <!-- <th scope="col">สามารถลาเกินได้</th> -->
                                <th scope="col">แจ้งล่วงหน้า</th>
                                <th scope="col">จำนวนครั้งที่ลา</th>
                                <!-- <th scope="col">สถานะสิทธิการลา</th> -->
                                <!-- <th scope="col">สถานะบุคลากร</th> -->
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of leavetypeUser_day ; let i = index">
                            <tr>
                                <td>{{item.LTypeName}}</td>
                                <td>{{item.Number}} /วัน</td>
                                <td>{{item.sum_total}} /วัน</td>
                                <td>{{item.Remain}} /วัน</td>
                                <div *ngIf="item.Remain_over > 0 " style="color: red;">
                                    <td>{{item.Remain_over}} /วัน</td>
                                </div>
                                <div *ngIf="item.Remain_over == 0 " style="color: black;">
                                    <td>{{item.Remain_over}} /วัน</td>
                                </div>
                                <!-- <td>{{item.Remain_limit}} /วัน</td> -->
                                <td>{{item.AdvanceNotice}} /วัน</td>
                                <td>{{item.number_leave_show}}</td>
                                <!-- <td>{{item.QuotaStatus}}</td> -->
                                <!-- <td>{{item.EmpstatusName}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="card">
            <div class="card-body">
                <label for="" style="font-size: 16px;">เลือกรอบการประเมิน</label>
                <select class="form-control" (change)="getlleave_user_holiday($event.target.value)">
                    <option>เลือกรอบการประเมิน</option>
                    <option *ngFor="let item of showleave_limit_holiday; let i = index" value="{{item.limit_ID}}">
                        {{item.Name_limit}}</option>
                </select>
                <div class="table-responsive-xl">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ชื่อประเภท</th>
                                <th scope="col">เกณฑ์วันลา</th>
                                <th scope="col">ลามาแล้ว</th>
                                <th scope="col">ยอดสะสม</th>
                                <th scope="col">คงเหลือ</th>
                                <th scope="col">แจ้งล่วงหน้า</th>
                                <th scope="col">สถานะบุคลากร</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of leavetypeUser_copy ; let i = index">
                            <tr>
                                <td>{{item.LTypeName}}</td>
                                <td>{{item.Number}} /วัน</td>
                                <td> /วัน</td>
                                <td>{{var_amount}} /วัน </td>
                                <td>{{Remain_show}} /วัน </td>
                                <td>{{item.AdvanceNotice}} /วัน</td>
                                <td>{{item.EmpstatusName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
        <br>
    </div>

</div>