<div class="tab-pane fade show active">
    &nbsp;&nbsp;&nbsp;
    <div style="padding-left: 15%;padding-right: 2%;">
        <div class="card w-75 text-white bg-success">
            <div class="card-body">
                <h2 class="card-title">ตรวจสอบวันลา</h2>
            </div>
        </div>
    </div>

    <br>
    <div style="padding-left: 2%;padding-right: 2%;">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive-lg">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ชื่อประเภท</th>
                                <th scope="col">เกณฑ์วันลา/วัน</th>
                                <th scope="col">คงเหลือ/วัน</th>
                                <th scope="col">ลาเกิน/วัน</th>
                                <th scope="col">สามารถลาเกินได้/วัน</th>
                                <th scope="col">แจ้งล่วงหน้า/วัน</th>
                                <th scope="col">จำนวนครั้งที่ลา/วัน</th>
                                <th scope="col">สถานะสิทธิการลา</th>
                                <th scope="col">สถานะบุคลากร</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of leavetypeUser ; let i = index">
                            <tr>
                                <td>{{item.LTypeName}}</td>
                                <td>{{item.Number}} /วัน</td>
                                <td>{{item.Remain}} /วัน</td>
                                <div *ngIf="item.Remain_over > 0 " style="color: red;" > 
                                    <td>{{item.Remain_over}} /วัน</td>
                                </div>
                                <div *ngIf="item.Remain_over == 0 " style="color: black;" > 
                                    <td>{{item.Remain_over}} /วัน</td>
                                </div>
                              
                               
                                <td>{{item.Remain_limit}}  /วัน</td>
                                <td>{{item.AdvanceNotice}} /วัน</td>
                                <td>{{item.LOrdinal}}</td>
                                <td>{{item.QuotaStatus}}</td>
                                <td>{{item.EmpstatusName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<br>
      
    </div>

</div>