<div class="card">
    <div class="card__top">
      <div class="circle"></div>
      <img class="card__top-img" src="../95246112_2927691743987391_5780481962678419456_o.jpg" alt="Nika Gold and Black Shoe">
    </div>
    <h1 class="card__title">Nike AIR</h1>
    <div class="card__bottom product-info">
      <div class="product-info__top">
        <span class="product-info__brand">Nike AIR</span>
        <div class="product-info__product">
          <span class="product-info__product-text">Air Jordan 1 Mid SE GC</span>
          <span class="product-info__product-price">856$</span>
        </div>
        <div class="product-info__sizes">
          <span class="product-info__sizes-text">Size</span>
          <div class="product-info__sizes-inner">
            <div class="product-info__sizes-size">7</div>
            <div class="product-info__sizes-size">7.5</div>
            <div class="product-info__sizes-size">8</div>
            <div class="product-info__sizes-size">9</div>
          </div>
        </div>
      </div>
      <div class="product-info__bottom">
        <div class="product-info__colors">
          <div class="product-info__colors-color colors-yellow">
            <input type="checkbox" id="checkbox-yellow" checked />
            <label for="checkbox-yellow" class="product-info__colors-label"></label>
          </div>
        </div>
        <button class="product-info__buy-button">Buy</button>
      </div>
    </div>
  </div>