@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed");

$yellow: #ffbf01;
$dark: #1d1f21;

body {
  background: #ccc;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 700px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10%;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  background: $dark;
  color: white;
  cursor: pointer;

  &:hover {
    .circle {
      clip-path: circle(220px at 90% 130px);
    }
    .card__title {
      transform: translateY(150px);
      transition-delay: 0.1s;
    }
    .product-info__top {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.35s;
    }
    .product-info__bottom {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}

.card__top {
  height: 50%;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10%;
  background: $yellow;
  clip-path: circle(0px at 90% 130px);
  transition: all 0.5s ease-in-out;
}

.card__top-img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  transform: rotate(-30deg) scaleX(-1);
}

.card__title {
  position: absolute;
  left: 15%;
  z-index: 1;
  color: white;
  font-size: 80px;
  transform: translateY(350px);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.product-info__top {
  display: flex;
  flex-direction: column;
  flex: 1;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 0.35s;
  transform: translateY(50%);
}

.product-info__brand {
  font-size: 16px;
  text-transform: uppercase;
}

.product-info__product {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.product-info__product-text {
  font-size: 24px;
}

.product-info__product-price {
  font-size: 24px;
}

.product-info__sizes-text {
  font-size: 16px;
}

.product-info__sizes-inner {
  display: flex;
  padding: 10px 0;
}

.product-info__sizes-size {
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 10%;
  background: white;
  color: $dark;
  font-weight: bold;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: $yellow;
  }
}

.product-info__bottom {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 0.1s;
  transform: translateY(50%);
}

.product-info__colors {
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
}

.product-info__colors-color {
  position: relative;
}

.product-info__colors-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
}

.product-info__colors-color input[type="checkbox"] {
  visibility: hidden;
}

.colors-yellow input[type="checkbox"]:checked + .product-info__colors-label {
  background-color: $yellow;
}

.product-info__colors-color input[type="checkbox"]:checked + .product-info__colors-label:after {
  opacity: 1;
}

.product-info__buy-button {
  padding: 18px 25px;
  border-radius: 20%;
  background: $yellow;
  color: $dark;
  font-size: 20px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $dark;
    color: white;
    border: 1px solid $yellow;
  }
}
