<br>
<br>
<div style="padding: 1%; margin-right:1%" >
    <div class="container" id="content">
        <button type="button" id="button" class="btn btn-outline-primary" (click)="print()">ปริ้นใบลา</button>
        <h3 align="center">
            <b> ใบลาป่วย/ลาพักผ่อน/ลาคลอด</b>
        </h3>
        <br>
        <h5 align="right">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</h5>
        <h5 align="right"> {{thDate}} </h5>
        <h5 align="left">เรื่อง ขอลาพักผ่อน</h5>
        <h5 align="left">เรียน รองอธิการบดีฝ่ายบริหรและพัฒนาทรัพยากรมนุษย์</h5>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5 align="left">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้า {{EmpName}} 
                      
                        ตำแหน่ง . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                    </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 align="left">สังกัด แผนก. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                    . . . .
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 align="left">
                    มีวันลาพักผ่อนสะสม . . . . . . . . . .
                    วันทำการ&nbsp;&nbsp;&nbsp;&nbsp;มีสิทธิลาพักผ่อนประจำปีนี้อีก&nbsp;10&nbsp;วันทำการ
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h5 align="left"> รวมเป็น . . . . . . . วันทำการ&nbsp;
                    ขอลาพักผ่อนตั้งแต่วันที่ . . . . . . . . . . . . . . . . . . ถึงวันที่ . . . . . . . . . . . . . . .
                    . . . . .
                </h5>
                <h5 align="left">
                    มีกำหนด . . . . . . . วันทำการ&nbsp;ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่ . . . . . . . . . . . . . . .
                    . . . . .
                </h5>
                <h5 align="left">

                </h5>
            </div>
        </div>
        <br>
        <div class="container">

            <div class="row">
                <div class="col">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        สถิติการลาในปีงบประมาณนี้</h5>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ลามาแล้ว<br>(วันทำการ)</th>
                                <th scope="col">ลาครั้งนี้<br>(วันทำการ)</th>
                                <th scope="col">รวมเป็น<br>(วันทำการ)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . .(ผู้ตรวจสอบ) </h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>
                    <h5 align="center">ตำแหน่ง . . . . . . . . . . . . . . . . . . . . . . . </h5>
                    <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>
                    <br><br>
                    <h5 align="center">หมายเหตุ&nbsp;ในขณะที่ข้าพเจ้าลาพักผ่อนได้มอบหมายให้</h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . . . . . . . . . .)</h5>
                    <h5 align="center">เป็นผู้รับผิดชอบงานแทน</h5>
                    <br><br>
                    <h5 align="center">. . . . . . . . . . . . . . . . . . . . . . . .</h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . . . . . . . . . .)</h5>
                    <h5 align="center">ผู้มอบหมายงาน</h5>
                    <br><br>
                    <h5 align="center">. . . . . . . . . . . . . . . . . . . . . . . .</h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . . . . . . . . . .)</h5>
                    <h5 align="center">ผู้รับผิดชอบงานแทน</h5>
                    <br>
                </div>
                <div class="col">
                    <br><br>
                    <h5 align="center"> ขอแสดงความนับถือ</h5>
                    <br><br>
                    <h5 align="center"> (ลงชื่อ) . . . . . . . . . . . . . . . . . . . . . . . .</h5>
                    <h5 align="center"> ( . . . . . . . . . . . . . . . . . . . . . . . . . . . . ) </h5>
                    <br>
                    <br><br>

                    <h5 align="center">ความเห็นของผู้บังคับบัญชา </h5>
                    <br>
                    <h5 align="center">. . . . . . . . . . . . . . . . . . . . . . . . . . . . </h5>
                    <br>
                    <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>
                    <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>
                    <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>
                    <br>
                    <br>
                    <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>
                    <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>
                    <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>
                    <br>
                    <br>

                    <h5 align="center">
                        คำสั่ง
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="command1" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="command1">อนุญาต</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="command2" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="command2">ไม่อนุญาต</label>
                        </div>
                    </h5>

                    <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>
                    <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>
                    <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>
                    <br>


                </div>
            </div>
        </div>
    </div>