

<div style="padding: 70px;">
        <h3 align="center">
                <b> แบบใบลาป่วย ลาคลอดบุตร ลากิจส่วนตัว</b>
            </h3>
            <br>
    <h5 align="right">เขียนที่ . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</h5>
    <h5 align="right">วันที่ . . . . . . . เดือน . . . . . . . . . . . . . . . . พ.ศ. . . . . . . .</h5>
    <h5 align="left">เรื่อง . . . . . . . . . . . . . . . . . .</h5>
    <h5 align="left">เรียน . . . . . . . . . . . . . . . . . .</h5>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 align="left">ข้าพเจ้า . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                    
                </h5>
            </div>

            <div class="col-sm">
                <h5 align="left">ตำแหน่ง . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5 align="left">สังกัด แผนก. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
            </h5>
        </div>

        <div class="col-sm">
            <h5 align="left">ฝ่าย/คณะ/ภาค/ศูนย์. . . . . . . . . . . . . . . . . . . . . . . . . . . . .
            </h5>
        </div>
    </div>


    <div class="container">
        <div class="row row-cols-3">
                <div class=".col-xl-1150">
                    <br>
                        <h5 align="left">ขอลา
        
                        </h5>
                </div> &nbsp; &nbsp; &nbsp; 
            <div class=".col-xl-1150">
                <h5 align="left">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">ป่วย</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">กิจส่วนตัว</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">คลอดบุตร</label>
                    </div>
                </h5>
            </div>
            <div class="col">
                    <br>
                        <div class="form-group col-md-10">
                                <h5 align="left">เนื่องจาก.........................
                                        <!-- <input type="text" class="form-control" id="inputCity"> -->
                                    </h5>
                                    </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5 align="left">
                ตั้งแต่วันที่ . . . . . / . . . . . . . . . . . . . . / . . . . . . .
            </h5>

        </div>
        <div class="col-sm">
            <h5 align="left">
                ถึงวันที่ . . . . . . . / . . . . . . . . . . . . . . . / . . . . . . .
            </h5>
        </div>
        <div class="col-sm">
            <h5 align="left">
                มีกำหนด . . . . . . . . . . วัน
            </h5>
        </div>

    </div>


 
    <div class="row">
        <div class="col-sm">
            <h5 align="left"> ข้าพเจ้าได้ลา
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">ป่วย</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">กิจส่วนตัว</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline3">คลอดบุตร</label>
                </div>

                ครั้งสุดท้ายวันที่ . . . . . . . / . . . . . . . . . . . . / . . . . . . . . .
            </h5>
            <h5 align="left">
                ถึงวันที่ . . . . . /. . . . . . . . . . . /. . . . . . มีกำหนด . . . . . .วัน
                <h5 align="left"> ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่ . . . . . . . . . . . . . . . . . . . . . . . . .
                    โทรศัพท์ . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                </h5>
            </h5>
        </div>
    </div>
    <br>
    <div class="container">
           
            <div class="row">
              <div class="col">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                    <h5>สถิติการลาในปีงบประมาณนี้</h5>

                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">ประเภทลา</th>
                                <th scope="col">ลามาแล้ว</th>
                                <th scope="col">
                                        ลาครั้งนี้
                                        </th>
                                <th scope="col">รวมเป็น</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">ป่วย</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">กิจส่วนตัว</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">คลอดบุตร</th>
                                <td >Larry the Bird</td>
                                <td >Larry the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                          </table>
                    <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . .(ผู้ตรวจสอบ) </h5>  
                    <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>  
                    <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>  
                    <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>  
                    <br> 
              </div>
            
              <div class="col">
                   <h5 align="center"> ขอแสดงความนับถือ</h5> 

                   <h5 align="center"> (ลงชื่อ) . . . . . . . . . . . . . . . . . . . . . . . .</h5> 
                   <h5 align="center">  ( . . . . . . .  . . . . . . . . . . . . . . . . . . . . . ) </h5> 
              <br>
              <br>

                              <h5 align="center">ความเห็นของผู้บังคับบัญชา </h5> 
                              <br>
                              <h5 align="center">. . . . . . .  . . . . . . . . . . . . . . . . . . . . . </h5>
                            <br>  
                              <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>  
                              <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>  
                              <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>  
                              <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>  
                              <br> 
                              <br> 
                              <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>  
                              <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>  
                              <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>  
                              <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>  
                              <br> 
                              <br> 
                              
                              <h5 align="center">
                                    คำสั่ง
                              <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="command1" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="command1">อนุญาต</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="command2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="command2">ไม่อนุญาต</label>
                                </div>
                            </h5> 
                            
                            <h5 align="center">ลงชื่อ. . . . . . . . . . . . . . . . . . . . . . . . . . </h5>  
                            <h5 align="center">( . . . . . . . . . . . . . . . . . . . . .. . . . . . . .)</h5>  
                            <h5 align="center">ตำแหน่ง . . . . . . . . . . . . .. . . . . . . . . . </h5>  
                            <h5 align="center">วันที่ . . . .. /. . . . . . / . . . . . .</h5>  
                            <br> 


              </div>
            </div>
          </div>
</div>