<div style="padding: 1%;">

    <div class="card">
        <div class="card-body">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <label>เลือกบุคลากร</label>
                        <select class="form-control form-control-lg" id="exampleFormControlSelect1" #Emp_ID_search>
                            <option *ngFor="let item of Dept_to_head" value="{{item.Emp_ID}}">{{item.EmpName}}
                                {{item.EmpLastName}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <p>ตั้งแต่วันที่</p>
                        <input class="form-control mr-sm-2" type="date" placeholder="Search" aria-label="Search"
                            #Day_leave_start>
                    </div>
                    <div class="col">
                        <p>ถึงวันที่</p>
                        <input class="form-control mr-sm-2" type="date" placeholder="Search" aria-label="Search"
                            #Day_leave_last>
                    </div>
                    <div class="col">
                        <br>
                        <button type="button" class="btn btn-primary"
                            (click)="leaveSearch(Emp_ID_search.value,Day_leave_start.value,Day_leave_last.value)">ค้นหา</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <!-- <label for="exampleFormControlSelect1">เลือกบุคลากร :</label> -->
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">



                    </div>
                </div>
            </div>
            <div class="table-responsive-lg">


            </div>
        </div>
    </div>
    <br>



    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">การลา</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">ตรวจสอบ</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-xl">


                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">ชื่อพนักงาน</th>
                                    <th scope="col">ประเภท</th>
                                    <th scope="col">วันที่ลา</th>
                                    <th scope="col">จำนวน/วัน</th>
                                    <!-- <th scope="col">ไฟล์แนบ</th> -->
                                    <th scope="col">สถานะใบลา</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody
                                *ngFor="let item of seachleave | paginate: { itemsPerPage: 10, currentPage: pageActual};">
                                <tr>
                                    <td>ชื่อ: {{item.EmpName}} {{item.EmpLastName}}
                                        <p>แผนก: {{item.DeptName}}</p>
                                    </td>
                                    <td class="text-center">{{item.Name_Leave}}</td>
                                    <td class="text-center"> {{item.LeaveDateStart_month}} <br> ถึงวันที่ <br>
                                        {{item.LeaveDateLast_month}}</td>
                                    <td class="text-center"> {{item.LeaveTotal}}
                                        <p *ngIf="item.LeaveTotal == 0" style="color: red;">ขออนุญาตยกเลิก</p>
                                    </td>
                                    <!-- <td> </td> -->
                                    <td class="text-center">{{item.LeaveStatus_Document}} </td>
                                    <div *ngIf="item.LeaveStatus_ID == 6 || item.LeaveStatus_ID == 7"
                                        style="color:rgb(240, 8, 8);">
                                        <td>
                                            {{item.LeaveStatus_Name}} </td>
                                    </div>
                                    <div *ngIf="item.LeaveStatus_ID < 6" style="color:rgb(80, 80, 246);">
                                        <td>
                                            {{item.LeaveStatus_Name}} </td>
                                    </div>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#exampleModal"
                                            (click)="show_data(item.Leave_ID,item.Name_Leave,item.To_Person,item.Emp_ID,
                                item.EmpName,item.EmpLastName,item.PositionName,item.DeptName,item.SectorName,item.LTypeName,
                                item.LeaveData,item.ContactInformation,item.employee,item.LeaveDateStart_month,item.LeaveDateLast_month,item.LeaveTotal,
                              item.LeaveStatus_Name, item.LeaveStatus_Document,item.Leave_characteristics_dateStart,item.Leave_characteristics_dateLast,item.file_names)"><i
                                                class="fa fa-cog" aria-hidden="true"></i></button>
                                                
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="card">
                <div class="card-body">
                    <label for="" style="font-size: 16px;">เลือกรอบการประเมิน</label>
                    <select class="form-control" (change)="getlleave_user($event.target.value)">
                        <option>เลือกรอบการประเมิน</option>
                        <option *ngFor="let item of showleave_limit; let i = index" value="{{item.limit_ID}}">
                            {{item.Name_limit}}
                        </option>
                    </select>
                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ชื่อประเภท</th>
                                    <th scope="col">เกณฑ์วันลา</th>
                                    <th scope="col">ลามาแล้ว</th>

                                    <th scope="col">คงเหลือ</th>
                                    <th scope="col">ลาเกิน</th>
                                    <!-- <th scope="col">สามารถลาเกินได้</th> -->
                                    <th scope="col">แจ้งล่วงหน้า</th>
                                    <th scope="col">จำนวนครั้งที่ลา</th>
                                    <!-- <th scope="col">สถานะสิทธิการลา</th> -->
                                    <th scope="col">สถานะบุคลากร</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of leavetypeUser ; let i = index">
                                <tr>
                                    <td>{{item.LTypeName}}</td>
                                    <td>{{item.Number}} /วัน</td>
                                    <td>{{item.sum_total}} /วัน</td>
                                    <td>{{item.Remain}} /วัน</td>
                                    <div *ngIf="item.Remain_over > 0 " style="color: red;">
                                        <td>{{item.Remain_over}} /วัน</td>
                                    </div>
                                    <div *ngIf="item.Remain_over == 0 " style="color: black;">
                                        <td>{{item.Remain_over}} /วัน</td>
                                    </div>


                                    <!-- <td>{{item.Remain_limit}} /วัน</td> -->
                                    <td>{{item.AdvanceNotice}} /วัน</td>
                                    <td>{{item.number_leave_show}}</td>
                                    <!-- <td>{{item.QuotaStatus}}</td> -->
                                    <td>{{item.EmpstatusName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ข้อมูลการลา</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-header text-left">
                        <b style="color: mediumblue;"> ยื่นการลา</b>
                    </div>
                    <br>
                    <div class="container">
                        <h6>เรื่อง : {{Name_Leave_show}}</h6>
                        <br>
                        <h6>เรียน : {{To_Person_show}}</h6>
                    </div>
                    &nbsp;&nbsp;
                    <div class="card-header text-left">
                        <b style="color: mediumblue;">ข้อมุลบุคลากร</b>
                    </div>
                    &nbsp;
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <h6>รหัส </h6>
                                <input type="text" class="EmpName_show" value="{{Emp_ID_show}}" readonly>

                            </div>
                            <div class="col-sm">
                                <h6> ชื่อ </h6>
                                <input type="text" class="EmpName_show" #EmpName value="{{EmpName_show}}" readonly>
                            </div>
                            <div class="col-sm">
                                <h6> นามสกุล </h6>
                                <input type="text" class="EmpLastName__show" #EmpLastName value="{{EmpLastName_show}}"
                                    readonly>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <input type="text" class="Leave_ID_show" #Leave_ID value="{{Leave_ID_show}}" readonly>
                                <h6>ตำแหน่ง </h6>
                                <input type="text" class="EmpName_show" value="{{PositionName_show}}" readonly>

                            </div>
                            <div class="col-sm">
                                <h6>แผนก </h6>
                                <input type="text" class="EmpName_show" value="{{DeptName_show}}" readonly>

                            </div>
                            <div class="col-sm">
                                <h6> ฝ่าย </h6>
                                <input type="text" class="EmpName_show" value="{{SectorName_show}}" readonly>

                            </div>
                        </div>
                    </div>
                    <div class="card-header text-left">
                        <b style="color: mediumblue;"> ข้อมูลการลา</b>
                    </div>
                    <br>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">หัวข้อ</th>
                                    <th scope="col">รายละเอียด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">ประเภทการลา :</th>
                                    <td>{{LTypeName_show}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">มีผู้รับผิดชอบงานแทน :</th>
                                    <td>{{employee_show}}</td>
                                </tr>


                                <tr>
                                    <th scope="row">ขอลาเนื่องจาก :</th>
                                    <td> {{LeaveData_show}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">ข้อมูลการติดต่อ :</th>
                                    <td> {{ContactInformation_show}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">วันที่ลา :</th>
                                    <td> {{LeaveDateStart_show}} / {{Leave_characteristics_dateStart_show}}</td>

                                </tr>
                                <tr>
                                    <th scope="row">ถึงวันที่ :</th>
                                    <td> {{LeaveDateLast_show}} / {{Leave_characteristics_dateLast_show}} </td>

                                </tr>
                                <tr>
                                    <th scope="row">จำนวนวันลา :</th>
                                    <td> {{LeaveTotal_show}} <p *ngIf="LeaveTotal_show == 0" style="color: red;">
                                            ขออนุญาตยกเลิก</p>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">แนปไฟล์ :</th>
                                    <td><a
                                            href="http://cpe.rmuti.ac.th/project/Leave_system/upload/{{file_names_show}}">{{file_names_show}}</a>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">สถานะการลา :</th>
                                    <td style="color: rgb(12, 48, 206);"> {{LeaveStatus_Name_show}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">สถานะการส่งใบลาฉบับจริง :</th>

                                    <td>
                                        <!-- <input class="leave" type="text" value="{{Leave_ID_show}}"> -->
                                        <select class="form-control" title="สำหรับผู้ดูแลระบบเท่านั้น"
                                            #LeaveStatus_Document [disabled]="btnDisable_Doc"
                                            value="{{LeaveStatus_Document_show}}">
                                            <option value="ส่งใบลาฉบับจริงแล้ว">ส่งใบลาฉบับจริงแล้ว</option>
                                            <option value="ยังไม่ส่งใบลาฉบับจริง">ยังไม่ส่งใบลาฉบับจริง</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="delete_leave(Leave_ID.value,EmpName.value,EmpLastName.value)"
                    *ngIf="btn_delete">ลบ</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="updateleave_status(LeaveStatus_Document.value)">บันทึก</button>
            </div>
        </div>
    </div>
</div>